<footer class=foot>
    <md-toolbar md-scroll-shrink color="primary">
     
          <button md-button>About Us</button>
          <button md-button>Privacy Policy</button>
          <button md-button>Open Source</button>
          <button md-button>API</button>
          
        <span class="example-fill-remaining-space">
                <img class="icon" src="/assets/git_footer.png" alt="GitHub">
        </span>
        
        <button md-button>Contact GitHub</button>
    </md-toolbar>
</footer>
