<md-toolbar md-scroll-shrink color="primary">
    
    <span mdTooltip="Home">
      <a [routerLink]="['/main']" [routerLinkActive]="['active']">
        <md-icon>home</md-icon>
      </a>
    </span>
      <span>
        <button md-button>
             
          <h4>Github</h4>
        </button>
      </span>
        <span mdTooltip="Collection of saved Repos">
        <button md-button>Saved Repos</button>
        </span>
      <button md-button>Issues</button>
      <button md-button>Market Place</button>
      <span class="example-fill-remaining-space"></span>
        <span mdTooltip="Existing User?">
        <button md-button>Sign In</button>
        </span>
        <span mdTooltip="New User?">
        <button md-button>Register</button>
      </span>
    </md-toolbar>
<router-outlet></router-outlet>
<app-footer></app-footer>
  



